
<div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <strong class="mb-1"><span><i class="fa fa-fw fa-bookmark-o"></i></span>笔记1</strong>
        </div>
        <div class="mb-1 text-center">
            <small>2019/4/1</small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <strong class="mb-1"><span><i class="fa fa-fw fa-bookmark-o"></i></span>笔记1</strong>
        </div>
        <div class="mb-1 text-center">
            <small>2019/4/1</small>
        </div>

    </a>
</div>
